{% extends "base.html" %}
{% block title %}News{% endblock %}
{% block content %}

{% for article in news %}
<div class="col-sm-4">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ article.title }}</div>
        <div class="panel-body"><img src="{{ article.image }}" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="panel-body">{{ article.content }}</div>
        <form method="POST" action="delete/{{ article.id }}">
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="article/{{ article.id }}" class="btn btn-primary">Edit</a>
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}